server:
  port: 8080

spring:
  application:
    name: accounts
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  config:
    import:
      - application.dev.yaml
      - application.prod.yaml
  profiles:
    active:
      - dev

build:
  version: "3.0"

accounts:
  message: "Welcome to EazyBank accounts related Local APIs "
  contactDetails:
    name: "Natrix - Developer"
    email: "natrix@eazybank.com"
  onCallSupport:
    - (959) 427778544
    - (959) 427778555


