spring:
  application:
    name: "configserver"
  profiles:
    active: git
  # active: native
  cloud:
    config:
      server:
        #native:
        #search-locations: "file:///C://Users//hanlynn.aung//config" #fetch from local file system
        #search-locations: classpath:/config
        git:
          uri: https://github.com/hanlynn-aung/learning-mircroservice-config.git
          default-label: master
          timeout: 5
          clone-on-start: true
          force-pull: true

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true

encrypt:
  key: U2FsdGVkX18vxSqth9SZR7WujVAHtCApRrJCDklZ5ak= #myphonenumber

server:
    port: 8071