spring:
  application:
    name: "configserver"
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: "file:///C://Users//hanlynn.aung//config" #fetch from local file system
        #search-locations: classpath:/config

server:
    port: 8071