server:
  port: 9000
spring:
  application:
    name: card
  profiles:
    active: dev
  datasource:
    url: jdbc:mysql://localhost:3307/cardsdb?createDatabaseIfNotExist=true
    username: root
    password: root

  jpa:
    show-sql: true
  sql:
    init:
       mode: always
  config:
    import: optional:configserver:http://localhost:8071/
  rabbitmq:
    host: "localhost"
    port: 5672
    username: guest
    password: guest

management:
  endpoints:
    web:
      exposure:
        include: "*"